# Install necessary packages
git+https://github.com/sign-language-processing/pose.git
pose-format
mediapipe
vidgear
git+https://github.com/sign-language-processing/segmentation
git+https://github.com/sign-language-processing/recognition
scikit-learn
pandas
joblib
flask
tensorflow
tensorflow_hub
numpy
opencv-python-headless
